@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #D9D9D9;
  overflow-x: hidden;
}
.fristHeader{
  background: url(../../public/firsthero.png) no-repeat center center/cover;
}
.logo{
  background: url(../../public/logo.png) no-repeat center center/cover;
}