@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #D9D9D9;
  overflow-x: hidden;
}
.fristHeader{
  background: url(../../public/hero.png) no-repeat center center/cover;
}
.logo{
  background: url(../../public/logo1.png) no-repeat center center/cover;
}
.secondHeader{
  background: url(../../public/secondHero.png) no-repeat center center/cover;
}